body{
	background-color: black;
	max-width: 100%;
    overflow-x: hidden;
}

/*Navegation*/

nav{
	position: fixed;
	width: 100%;
	top: 0;
}

nav ul{
	list-style-type: none;
  	overflow: hidden;
  	justify-items: center;
    align-content: center;
  	width: 100%;
  	height: 100%;
  	margin: 0;
  	padding: 0;
}

nav ul li{
	float: left;
	width: 20%;
}

nav ul li a:hover{
	color: white;
	transform: scale(1.15);
	transition: 0.5s;
}

.nav-item{
	color: #DCDCDC	;
	font-family: ABeeZee;
	font-size: 2em;
  	display: block;
  	text-align: center;
  	text-decoration: none;
}

/*Title*/

header{
	position: absolute;
	width: 99%;
	height: 95vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

header h2{
	position: relative;
	overflow: hidden;
	color: white;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 9em;
}

/*Background*/

section{
	position: absolute;
	width: 100%;
	height: 95vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

section img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*Footer*/

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	display: flex;
}

footer h2{
	position: relative;
	overflow: hidden;
	color: white;
	font-family: Montserrat Subrayada;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 1.4em;
}

.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}